<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <!-- Add stylesheets here -->

    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCzmYNtsdSqbHyz7z6XwtAFgOODXfbk8ac",
            authDomain: "dia-user-login.firebaseapp.com",
            projectId: "dia-user-login",
            storageBucket: "dia-user-login.appspot.com",
            messagingSenderId: "938108005404",
            appId: "1:938108005404:web:cb72eff57c5045690643d9",
            measurementId: "G-HH3XKTM96F"
          };
            firebase.initializeApp(firebaseConfig);
    </script>

</head>
<body>
    <form id="resetPasswordForm">
        <label for="email">Enter your email address:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Send Reset Link">
    </form>
    <script src="{{ url_for('static', filename='assets/js/forgot_password.js') }}"></script>
</body>
</html>
